{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<title>ISTE610 Group Project :: Twitter Search</title>
	<style type="text/css">

		body {background-color:#7cb2d4;}
		#bodywrapper {width:1000px;
		margin:0px auto;}



		.FramedDisplayElement {border:2px inset;
		padding:20px;
		margin:5%;
		background-color:#a2bbcb;}

		#leftside {width:69%;
		float:left;
		display:inline-block;
		clear:left;}

		#RightSide {width:29%;
		float:right;
		text-align:center;
		margin-top:10px;
		display:inline-block;
		vertical-align:top;}

		.PageText,h1,h3 {text-align:center;
		color:#333333;}

		#introduction {width:60%;
		margin:auto;
		text-align:left;}

		#sysdisplay {height:100px; overflow:hidden;}
		#searchform {height:200px;}
		#resultsdisplay {min-height:300px; overflow:auto;}
		#tweetdisplay {display:none;}

		img {border:1px solid #000000;}

		td	{padding:8px 15px 8px 15px; border-bottom:1px outset;}

		#tweetdisplay table {width:100%}
		#tweetdisplay table tr td {min-width:100px;}
		#map {
        
        height: 400px;
      	visibility:hidden;
      	}
      	
					
	</style>
	
	<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>

	
	<script type="text/javascript">	
	var map;
		
	$(document).ready(function(){
    
     document.getElementById('resultsdisplay').scrollIntoView();
	});	
	//on view tweet display the tweetdisplay div
	function show() { 
        document.getElementById('tweetdisplay').style.display='block'; 
        document.getElementById('tweetdisplay').scrollIntoView();
        document.getElementById('map').style.visibility='hidden'; 
        return false;
    } 
   
    function msg(msg) {
    	document.getElementById("sysdisplay").innerHTML=msg;
    }
    //reloading the webpage
    function reload() {
    	window.location='http://dantheran7.ddns.net/';
    }

	//google map  function passed on the coordiantes in the tweetdisplay div
	function linktogooglemaps(coor) 
	{
	coorArr = coor.split(",");
	latNum = coorArr[0] 
	longNum = coorArr[1]
	document.getElementById('map').style.visibility='visible';
	var mapCanvas = document.getElementById('map');
	var mapOptions = {
      		center: new google.maps.LatLng(latNum,longNum),
      		zoom: 15,
      		mapTypeId: google.maps.MapTypeId.ROADMAP
    	}
    var map = new google.maps.Map(mapCanvas, mapOptions); 

	var marker = new google.maps.Marker({
        position: new google.maps.LatLng(latNum,longNum),
        map: map,
        title:"This is the place."
    });  
 
    var contentString = 'Selected Tweet';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
 
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
    }
	
	
		
	function initialize() {
    	var mapCanvas = document.getElementById('map');
    	var mapOptions = {
      		center: new google.maps.LatLng(44.5403, -78.5463),
      		zoom: 8,
      		mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
  } 
  google.maps.event.addDomListener(window, 'load', initialize); 
	</script>
</head>

<body>
	<!-- The body wrapper prevents the site from stretching to extremes  -->
	<div id="bodywrapper">
	<!--  Left side contains the fuctional components of the site, the server feedback, search form and search results -->
	<div id="leftside">
		
		<h1  onclick="msg('hey');">ISTE610 Group Project :: Twitter Search</h1>
		<p id="introduction" class="PageText">For Searching the Twitter Database:<br/>
			The system will start automatically, you can check the connection status in the window below. Once the connection is successful you will be able to search the database and interact with the results.</p>
		
		<!-- The sysdisplay contains the readou from the server detailing the connection and connection status  -->
		<div id="sysdisplay" class="FramedDisplayElement">
		{% if resultsStr %}		
			{% if client %}
    		<p>System Ready.<br>Connected to server {{client}}.<br/>Database {{dbname}}, collection {{collname}}.<br/>{{ totalsize }} results obtained.</p>
			{% else %}
    		<p>FAILURE. No connection.</p>
			{% endif %}
		{% else %}			
    		<p>System Ready.</p>
			
		{% endif %}


		
		</div><!-- end sysdisplay   -->
		
		<!-- Search form contains the form for submitting queries against the database  -->
		<div id="searchform" class="FramedDisplayElement">
			<h3>Please fill out the form below to search the Twitter database</h3>
			<form id="queryform" name="queryform" action="{% url 'polls:index'%}" method="post">
				{% csrf_token %}
				<div id="formfeild">
				{% if searchbox %}
			
			
				{% autoescape off %}
				{{ searchbox }}
				{% endautoescape %}
				{% csrf_token %}
			
				{% endif %}	
				</div><!--  end buttonfeild  -->
			</form>
		</div><!-- end searchform  -->
		
		<!-- Resultsdisplay contains the result of the queries as a list for which further entries can be selected  -->
		{% if resultsStr %}
		<div id="resultsdisplay" class="FramedDisplayElement">
			
			
			{% autoescape off %}
			{{ resultsStr }}
			{% endautoescape %}
			{% csrf_token %}
			<!--/form>
		{% else %}
		<div id="resultsdisplay" class="FramedDisplayElement" style="display:none;">
    		<p>No results are available.</p>
		{% endif %}
			<!-- {% if userNameList %}
			<table>
			{% for result in userNameList %}
    		<tr><td>
    		{{ result }}
    		</tr></td>
    		{% endfor %}
    		</table>
			{% else %}
    		<p>No results are available.</p>
			{% endif %}
		-->
		
		</div><!-- end resultsdisplay  -->
		
		{% if resultsStr %}
		<form id= "comments" name= "comments" action= "/" method="post">
		{% csrf_token %}
		
		<div id="tweetdisplay" class="FramedDisplayElement">
		
		</div>
		</form> 
		{% endif %}	
	
	<div class="FramedDisplayElement" id="map"></div>	
		
	</div><!--  end left side  -->
	
	<!-- Right side display - for team photos and project text  -->
	<div id="RightSide">
		<br/>
		<h3>About Our Project</h3>
		<hr/>
		<h3>Our Team Members</h3>
		<p class="PageText">
			<img src="{% static 'polls/Dan.jpg' %}" width="150px"/><br/>
			<span>Daniel Mooney</span>
			<br/>
			<br/>
			<img src="{% static 'polls/eduardo.jpg' %}" width="150px"/><br/>
			<span>Eduardo Coelho Lima</span>
			<br/>
			<br/>
			<img src="{% static 'polls/John.jpg' %}" width="150px"/><br/>
			<span>John Dettmer</span>
			<br/>
			<br/>
		</p>
		<hr/>
		<p class="PageText" style="text-align:left; font-size:80%;">
			<span style="font-weight:bold;">About this site and our project:</span></br></br>
 
			Since the functionality of this project is relatively simple and direct, we’ve taken an approach of having the sight function as a single page, rather than bouncing the user between pages. As content (search results) are generated additional areas of the page open up to display the information. </br></br>

			The display page is built with HTML with both local and inline CSS styling. 4 primary divs make up the main display area showing, a read out of the current system, the form for searching the dataset, the results of the search, and the selected individual tweet. Some JavaScript was utilized in managing the divs and reset fuctionality, and also in the display of the google map included as an option when viewing a tweet. </br></br>

			The back end of the site functions using Python with support of a Django framework, which is one of the most popular frameworks available for the web. The PyMongo library was used to connect to the MongoDB which was hosted on Amazons EC2 cloud. </br></br>

			Testing and development and hosting of the website was facilitated though installation of the required components on a RaspberryPi which performed without issue. After starting development we also cloned the project on GitHub for future reference and functionality.</br></br>

			Communication for the project was done through Google Hangouts and e-mail, while in chat we would functionally pass control of elements of the site between us to allow for updates.
 
		</p>
	</div><!-- End of the Right Side  -->
	
	</div><!-- End of the body wrapper  -->
</body>
</html>
